.body {
  display: inline-block;
  width: 1860;
  margin: 0;
}
.topContainer {
  /** portrait, 1860 x 2480, -2x margin per side **/
  height: 2400;
  width: 1780;
  margin: 40;
}

.cell {
  margin: 5px;
  padding: 20;
  font-size: 3rem;
  width: 400px;
  border-width: 4px;
  border-color: black;
  border-style: solid;
}

.date {
  height: 120px;
}

.focus {
  height: 400px;
}

.happened {
  height: 1200px;
}

.main-section {
  height: 80%;
}

.left-column {
  width: 200px;
}

.focusHeader {
  /** 2x cell padding **/
  width: calc(100% + 40px);
  margin-left: -20px;
  margin-top: -20px;
  background-color: black;
  color: beige;
}

.container {
  background-color: lavender;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-direction: column;
}

.goofy {
  background-color: lightsalmon;
}

